.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 480px;
    height: 240px;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper:not(:last-of-type) {
    margin-right: 20px;
}

.description {
    margin: 0;
}